In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline
import os

In [5]:
mainpath = "/Cursos/Python-Anaconda/dataset"
filename = "IBM/Fuel Consumption.csv"
#fullpath = mainpath + "/" + filename
fullpath = os.path.join(mainpath,filename)

In [8]:
df = pd.read_csv(fullpath,sep=";")
df.head()

,MODEL_YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE_SIZE,CYLINDERS,TRANSMISSION,FUEL_TYPE,FUEL_CONSUMPTION_CITY,FUEL_CONSUMPTION_HWY,FUEL_CONSUMPTION_COMB,CO2_EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,244

In [9]:
df.tail()

,MODEL_YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE_SIZE,CYLINDERS,TRANSMISSION,FUEL_TYPE,FUEL_CONSUMPTION_CITY,FUEL_CONSUMPTION_HWY,FUEL_CONSUMPTION_COMB,CO2_EMISSIONS
1067,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,271
1068,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,264
1069,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,271
1070,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,260
1071,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,294

In [10]:
# summarize the data
df.describe()

,MODEL_YEAR,ENGINE_SIZE,CYLINDERS,FUEL_CONSUMPTION_CITY,FUEL_CONSUMPTION_HWY,FUEL_CONSUMPTION_COMB,CO2_EMISSIONS
count,1072.0,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000,1072.000000
mean,2014.0,3.340578,5.786381,13.276026,9.464366,11.565112,255.913246
std,0.0,1.415152,1.797415,4.104639,2.793379,3.486813,63.442769
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,108.000000
25%,2014.0,2.000000,4.000000,10.200000,7.500000,9.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,251.000000
75%,2014.0,4.300000,8.000000,15.500000,10.725000,13.300000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,488.000000

In [12]:
cdf = df[['ENGINE_SIZE','CYLINDERS','FUEL_CONSUMPTION_COMB','CO2_EMISSIONS']]
cdf.head(9)

KeyError: "['CO2_EMISSIONS'] not in index"